{% extends 'base.html.twig' %}

{% set jumbotron = './components/jumbotron.html.twig' %}
{% set card = './components/card.html.twig' %}

{% block title %}Categories - {{ parent() }}{% endblock %}

{% block body %}

{% include jumbotron with {
    jumbotron_name: 'Categories'
} %}

<div class="container">
    <div class="categories">
    {% for category in categories %}
        <div class="category">
            <a href="{{ path('post_category_list', { 'category_id': category.id }) }}">
                {% include card with {
                    card_name: category.name,
                    card_description: category.description,
                    card_color: category.color,
                    card_img: category.image,
                    card_nbPosts: category.posts|length
                } %}
            </a>
        </div>
    {% endfor %}
    <a class="btn btn-outline-secondary my-5 float-right" href="{{ path('post_list') }}" role="button">Accéder à tous les posts</a>
    </div>
</div>

{% endblock %}
